// Source https://codepen.io/BrianBravo/pen/JaFfz
$orange: rgb(255, 106, 0);
$red: rgb(255, 34, 0);
$yellow: rgb(255, 200, 0);
$blue: rgb(0, 55, 255);

.firepit {
  position: relative;
  font-size: 12px;
}
.fire {
  position: relative;
  bottom: 0;
  width: 1em;
  height: 1em;
  .flame {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: .9;
    width: 1em;
    height: 1em;
    border-bottom-right-radius: 0.7em;
    border-bottom-left-radius: 0.7em;
    border-top-left-radius: 0.7em;
    transform: rotate(-45deg)  skew(-10deg, -10deg);
    background-color: $red;
    background-image: linear-gradient(to top right, fade-out($red, .1), fade-out($orange, .3));
    z-index: 1;
    
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-name: burn-left;
    animation-duration: 300ms;
    
    &:nth-of-type(2n){
      animation-name: burn-right;
      animation-duration: 400ms;
    }
    
    &:nth-of-type(2) {
      height: 0.8em;
      width: 0.8em;
      left: 0.1em;
      background-color: $orange;
      background-image: linear-gradient(to top right, rgba($orange, .9), rgba($yellow, .9));
      z-index: 2;
    }
    
    &:nth-of-type(3) {
      height: 0.5em;
      width: 0.5em;
      left: 0.25em;
      background-image: linear-gradient(to top right, $yellow, white);
      z-index: 3;
    }
    
    &:nth-of-type(4) {
      height: 0.3em;
      width: 0.3em;
      left: 0.35em;
      background-color: white;
      background-image: linear-gradient(to top right, rgba(white, .7), rgba($blue,.1));
      opacity: 1;
      z-index: 4;
    }
  }
}

.spark {
  position: absolute;
  bottom: 0.46em;
  left: 0.15em;
  width: 4px;
  height: 4px;
  background-color: fade-out($orange,.6);
  box-shadow: 0 0 0.16em $orange;
  animation-name: fly-up-burnout-1;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: .4s;
  
  &:nth-of-type(2n) {
    animation-name: fly-up-burnout-2;
    animation-duration: 8.4s;
    animation-delay: 1s;
  }
  &:nth-of-type(3n) {
    animation-delay: 1.9s;
    animation-duration: 8s;
    left: 0.55em;
  }
  &:nth-of-type(4n) {
    animation-delay: 2.6s;
    animation-duration: 7s;
    left: 0.88em;
  }
  &:nth-of-type(5n) {
    animation-delay: 1.4s;
    animation-duration: 7s;
    left: 0.22em;
  }
  &:nth-of-type(6n) {
    animation-delay: 3.2s;
    left: 0.61em;;
  }
  &:nth-of-type(7n) {
    animation-delay: .8s;
    animation-duration: 5s;
    left: 0.64em;
  }
  &:nth-of-type(8n) {
    animation-delay: 5s;
    left: 0.19em;
  }
  &:nth-of-type(9n) {
    animation-delay: 4s;
    animation-duration: 6.8s;
    left: 0.22em;
  }
  &:nth-of-type(10n) {
    animation-delay: 5.2s;
    left: 0.61em;
  }
  &:nth-of-type(11n) {
    animation-delay: 3.5s;
    animation-duration: 8s;
    left: 0.81em;
  }
  &:nth-of-type(12n) {
    animation-delay: 2s;
    left: 0.85em;
  }
}

@keyframes burn-left {
  0%, 100%{transform: rotate(-45deg)  skew(-10deg, -10deg) scale(1);}
  30%, 60%{transform: rotate(-44deg)  skew(-12deg, -12deg) scale(1.01);}
}

@keyframes burn-right {
  0%, 100%{transform: rotate(-45deg)  skew(-10deg, -10deg) scale(1);}
  30%, 60%{transform: rotate(-46deg)  skew(-6deg, -6deg) scale(1.01);}
}

@keyframes fly-up-burnout-1 {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  
  33%{
    transform: translate(1em, -6em);
  }
  
  66% {
    transform: translate(0, -11em);
    opacity: .6;
  }
  
  100% {
    transform: translate(0.5em, -16em);
    opacity: 0;
  }
}

@keyframes fly-up-burnout-2 {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  
  50%{
    transform: translate(-0.8em, -6em);
  }
  
  80% {
    transform: translate(-0.25em, -11em);
    opacity: .6;
  }
  
  100% {
    transform: translate(-0.5em, -13em);
    opacity: 0;
  }
}